<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="username" value="test-all"/>
    <add key="password" value="P@$$word#1?"/>
    <!--add key="serverlist" value="http://10.100.100.100/vivisimo/cgi-bin/velocity.exe?v.app=api-soap"/-->
    <!--add key="serverlist" value="http://127.0.0.1/vivisimo/cgi-bin/velocity.exe?v.app=api-soap"/-->
    <!--add key="serverlist" value="http://172.16.10.200/vivisimo/cgi-bin/velocity.exe?v.app=api-soap"/-->
    <!-- testbed8 -->
    <add key="serverlist" value="http://172.16.10.140/vivisimo/cgi-bin/velocity?v.app=api-soap"/>
    <!-- testbed4 -->
    <!--add key="serverlist" value="http://172.16.10.180/vivisimo/cgi-bin/velocity?v.app=api-soap"/-->
    <!-- testbed10 -->
    <!--add key="serverlist" value="http://172.16.10.84/vivisimo/cgi-bin/velocity?v.app=api-soap"/-->
    <!-- testbed11 -->
    <!--add key="serverlist" value="http://172.16.10.141/vivisimo/cgi-bin/velocity?v.app=api-soap"/-->
    <!-- testbed14 -->
    <!--add key="serverlist" value="http://10.16.10.120/vivisimo/cgi-bin/velocity.exe?v.app=api-soap"/-->
    <!-- testbed2 -->
    <!--add key="serverlist" value="http://172.16.10.85/vivisimo/asp/velocity.aspx?v.app=api-soap"/-->
    <!-- testbed9 -->
    <!--add key="serverlist" value="http://172.16.10.142/vivisimo/cgi-bin/velocity.exe?v.app=api-soap"/-->
    <!-- testbed15 -->
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>