(content, acl#+nt authority\authenticated users), (1, 19)
(content, acl#+nt authority\interactive), (1, 19)
(content, acl#+system), (1, 19)
(content, acl#+test\brian.davidson), (1, 19)
(content, acl#+test\domain admins), (1, 19)
(content, acl#+test\domain users), (1, 19)
(content, acl#+test\jet), (1, 19)
(content, acl#+testbed3-6\administrator), (1, 19)
(content, acl#+testbed3-6\aspnet), (1, 19)
(content, acl#+testbed3-6\iusr_vivisimo-wkx662), (1, 19)
(content, acl#+testbed3-6\iwam_vivisimo-wkx662), (1, 19)
