# This needs to be invoked from the root of the /testenv/ checkout, like this:
#    source env.setup/automan_testbed

source env.setup/common
export VIVHOST="%(hostname)s"
export VIVTARGETARCH="%(target_os)s%(bitness)d"
export VIVTARGETOS="%(target_os)s"
export OSSTRING="%(os_label)s"
export VIVHTTPPORT="%(admin_port)d"
export VIVPORT="%(search_service_port)d"
export VIVPW="%(password)s"
export VIVUSER="%(velo_user)s"
export VIVVIRTUALDIR="%(velo_virtualdir)s"
